.cabecalho {
    background: rgba(255, 253, 253, 0.589);
    background-image: linear-gradient(180deg, rgba(255, 253, 253, 0.589) 0%, rgba(255, 255, 255, 0) 100%);
    border-radius: 5px;
    position: relative;
    align-items: center;
    padding-left: 800px
  }

.cabecalho .imagem{
    width: 180px;
    height: 150px;
}

.cabecalho .titulo{
    text-align: center;
    font-weight: 500;
}

@media only screen and (min-width: 768px) {
    .cabecalho{
       display: flex;
       flex-direction: row;
       position: relative;
    }

    .cabecalho .imagem{
        display: flex;
        flex-direction: column;
        margin: 0 5rem;
    }

    .cabecalho .titulo{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
   
  }