#galeria {
    margin: 0 auto;
    margin-top: 2rem;
}

#galeria, #slide {
    width: 450px;
    height: 300px;
}

#slide {
    border: 1px solid gray;
}

#anterior {
    float: left;
}

#proximo {
    float: right;
}

#galeria img {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: .5rem;
}