h2:first-of-type {
    text-align: center;
    font-size: 2rem
}

p:first-of-type {
    font-size: 1.2rem;
    text-align: justify;
}

.foto-clinica {
    width: 500px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 2rem;
}

.secao {
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center; 
}
    