body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    position: relative;
    font-family: 'Poppins', sans-serif;
    background: url(../imgs/ruido.png), linear-gradient(50deg, #033268, #00e1ff);
    background-size: cover; 
    min-height: 100vh;
}

.wrapper {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 500px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper.active {
    height: 520px;
}

.container img {
    width: 25%;
}

.form-box h2 {
    font-size: 2em;
    color: #fff;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #d2e0eb81;
    margin: 30px 0;
    font-weight: 500;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;

    font-size: 1em;
    color: #fff;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #fff;
    line-height: 57px;
}

input::placeholder {
    color: #fff;
  }

.nav-item .btn:hover {
    background-color: #1912d7;
}

.remember-forgot {
    font-size: 0.9em;
    color: #fff;
    font-weight: 500;
    margin: -15px 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.remember-forgot span {
    white-space: nowrap;
    margin-left: 3px;
}

.remember-forgot a {
    display: flex;
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.checkbox-label {
    display: flex;
    align-items: center;
}

.checkbox-label input {
    margin-right: 3px;
}

.btn {
    width: 100%;
    height: 45px;
    background: #0E556B;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

.login-register {
    font-size: 1.0em;
    color: #fff;
    font-weight: 500;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-register span {
    white-space: nowrap;
    margin-left: 3px;
}

.login-register a {
    display: flex;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.login-register a:hover {
    text-transform: bold;
    text-decoration: underline;
}

.new-account-label{
    display: flex;
    align-items: center;
}


.terms {
    color: #737373;
    font-size: 13px;
}

.terms a {
    text-decoration: none;
    color: #0071eb;
}

.terms a:hover {
    text-decoration: underline;
}

.icon {
    color: white;
}

.wrapper .form-box .btn {
    color: white;
}

.wrapper .form-box .btn:hover {
    background-color: #2b07f9;
}


/* Barra de navegação
------------------------------*/

nav.navbar-transparente {
    padding: 15px 0px;
    background: rgba(255, 253, 253, 0.589);
    background-image: linear-gradient(180deg, rgba(255, 253, 253, 0.589) 0%, rgba(255, 255, 255, 0) 100%);
}

.navbar-light .navbar-nav .nav-link {
    color: #051122;
    font-size: 1.4em;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #9bf0e1;
}

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 5);
    border-color: rgba(255, 255, 255, 0.1);
}

.divisor {
    width: 1px;
    background: white;
    margin: 12px 15px;
}

.nav-item .btnLogin-popup {
    width: 120px;
    height: 40px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.9em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: 0.5s;
}

.nav-item .btnLogin-popup:hover {
    background: #7c8080;
}

@media (max-width: 768px) {

    .wrapper {
        width: 70%;
        height: auto;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .container {
        height: auto;
    }

    header img {
        margin-left: 20rem;
    }

}
