
.container-req {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: fit-content;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid rgb(51 102 255);
    background-color: rgb(21 26 48);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    color: #fff;
}

p {
    flex-direction: row;
    margin: .5rem;
    width: 100%;
}

.botao-validar, select {
    margin-top: 1rem;
    margin-bottom: 1rem;
    align-items: center;
}