<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Prontuario</title>

    <!-- fontes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">

    <!-- normalize (utilizado para responsividade) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" 
        integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" 
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- importar aquivos css -->
    <link rel="stylesheet" href="../static/style/global.css" >
    <link rel="stylesheet" href="../static/style/cabecalho.css" >
    <link rel="stylesheet" href="../static/style/cadastro.css" >

</head>

<body>
    <header class="cabecalho">
        <a href="/">
            <img src="../static/imgs/logo.png" class="imagem">
        </a>
        <nav class="itens"> <!-- Barra de navegação responsiva -->
            <a href="/" class="nav-link">Home</a>

            <a href="#" class="nav-link">Fotos</a>

            <a href="/cadastrar-endereco" class="nav-link">Endereços</a>

            <a href="#" class="nav-link">Consultas</a>

            <a href="#" class="nav-link">Prontuários</a>

            <a href="#" class="nav-link">Cadastro Funcionário</a>

            <a href="#" class="nav-link">Cadastro Paciente</a>

            <a href="#" class="nav-link">Listagens</a>

            <a href="#" class="nav-link">Login</a>
        </nav>
    </header>
    <div class="principal">
        <form method="post" action="/cadastrar-prontuario" id="uploadForm" enctype="multipart/form-data">
            <div class="campos">
                <h2 class="subtitulo">Cadastro de Prontuário Eletrônico do Paciente:</h2>
                <hr width="100%" noshade="">
                <label for="anamnese">Registro de anamnese, exame objetivo e variáveis clínicas*:</label><br>
                <input type="text" name="anamnese" autocomplete="off" placeholder="Digite a avaliação médica" ><br><br>
                <label for="medicamento">Prescrição de medicamentos/métodos terapêuticos*:</label><br>
                <input type="text" name="medicamentos" autocomplete="off" placeholder="Digite a prescrição" ><br><br>
                <label for="atestado">Emissão de atestados/documentos clínicos*:</label>
                <input type="text" name="atestado" autocomplete="off" placeholder="Digite o atestado" ><br><br>
                <label for="exame">Solicitação de exames/métodos diagnósticos complementares*:</label><br>
                <input type="text" name="exame" autocomplete="off" placeholder="Digite a solicitação de exame" ><br><br>            
            </div>
            <input type="submit" value="Enviar">
        </form>
    </div>
</body>

</html>