<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Candidato</title>

    <!-- fontes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">

    <!-- normalize (utilizado para responsividade) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" 
        integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" 
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- importar aquivos css -->
    <link rel="stylesheet" href="../static/style/global.css" >
    <link rel="stylesheet" href="../static/style/cabecalho.css" >
    <link rel="stylesheet" href="../static/style/cadastro.css" >

</head>

<body>
    <div class="principal">
        <header class="cabecalho">
            <img src="../static/imgs/logo.png" class="imagem">

            <div class="texto">
                <h1 class="titulo">Cadastro de Candidato</h1>
            </div>
        </header>
        <form method="post" action="#" id="uploadForm" enctype="multipart/form-data">
            <div class="campos">

                <!-- secao dados pessoais -->
                <h2 class="subtitulo">Dados Pessoais</h2>
                <hr width="100%" noshade="">
                <label for="nome-completo">Nome Completo do Candidato*:</label><br>
                <input type="text" name="nome-completo" placeholder="Digite o seu nome completo" ><br><br>
                <label for="nome-mae">Nome Completo da Mãe*:</label><br>
                <input type="text" name="nome-mae" placeholder="Digite o nome da mãe" ><br><br>
                <label for="nome-pai">Nome Completo do Pai*:</label><br>
                <input type="text" name="nome-pai" placeholder="Digite o nome do pai" ><br><br>
                
                <div class="subsecao">
                <p><label for="sexo">Sexo*:</label>
                <select name="sexo" placeholder="Escolher..." >
                    <option value="" disabled selected>Escolher...</option>
                    <option value="masculino">Masculino</option>
                    <option value="feminino">Feminino</option>
                    <option value="outro">Outro</option>
                </select></p>   
                <p><label for="estado-civil">Estado Civil*:</label>
                <select id="estado-civil" name="estado-civil" >
                    <option value="" disabled selected>Escolher...</option>
                    <option value="solteiro">Solteiro(a)</option>
                    <option value="casado">Casado(a)</option>
                    <option value="divorciado">Divorciado(a)</option>
                    <option value="viuvo">Viúvo(a)</option>
                </select></p>
                <p><label for="grau-instrucao">Grau de Instrução*:</label>
                <select id="grau-instrucao" name="grau-instrucao" >
                    <option value="" disabled selected>Escolher...</option>
                    <option value="fundamental">Ensino Fundamental</option>
                    <option value="medio">Ensino Médio</option>
                    <option value="tecnico">Ensino Técnico</option>
                    <option value="superior">Ensino Superior</option>
                    <option value="mestrado">Mestrado</option>
                    <option value="doutorado">Doutorado</option>
                    <option value="posgraduacao">Pós-Doutorado</option>
                </select></p>
                <p><label for="raca">Raça / cor*:</label>
                <select id="raca" name="raca" >
                    <option value="" disabled selected>Escolher...</option>
                    <option value="branco">Branco</option>
                    <option value="preto">Preto</option>
                    <option value="pardo">Pardo</option>
                    <option value="amarelo">Amarelo</option>
                    <option value="indigena">Indígena</option>
                    <option value="nao-declarado">Não Declarado</option>
                </select></p>
                </div>

                <!-- secao dados nascimento -->
                <h2 class="subtitulo">Dados de Nascimento</h2>
                <hr width="100%" noshade>
                <div class="subsecao">
                    <p><label for="data-nascimento">Data de Nascimento*:</label>
                    <input type="date" name="data-nascimento" ></p>
                    <p><label for="nacionalidade" >Nacionalidade*:</label>
                    <input type="text" id="nacionalidade" name="nacionalidade" placeholder="Ex: Brasileiro(a)"></p>
                    <p><label for="paises">País Nascimento*:</label>
                    <input type="text" id="paises" name="paises" placeholder="Ex: Brasil"></p>
                </div>
                <div class="subsecao">
                    <p><label for="estados">Estado Nascimento:</label>
                    <input type="text" id="estados" name="estados" placeholder="Ex: Minas Gerais"></p>
                    <p><label for="cidades">Cidade Nascimento:</label>
                    <input type="text" id="cidades" name="cidades" placeholder="Ex: Bras"></p>
                </div>

                <!-- secao tamanhos -->
                <h2 class="subtitulo">Tamanhos</h2>
                <hr width="100%" noshade="">
                <div class="subsecao">
                    <p><label for="numero-botina">Número de botina*:</label>
                    <input type="number" name="numero-botina" placeholder="Ex: 42" ></p>
                    <p><label for="numero-calca">Número de calça*:</label>
                    <input type="number" name="numero-calca" placeholder="Ex: 38" ></p>
                    <p><label for="tamanho-camisa">Tamanho de camisa*:</label>
                    <input type="text" name="tamanho-camisa" placeholder="Ex: G" ></p>
                </div>

                <!-- secao contato -->
                <h2 class="subtitulo">Contato</h2>
                <hr width="100%" noshade="">
                <div class="subsecao">
                    <p><label for="telefone1">DDD | Telefone*:</label>
                    <input type="text" name="telefone1"  placeholder="(31) 99999-9999" ></p>
                    <p><label for="telefone2">DDD | Telefone 2:</label>
                    <input type="text" name="telefone2" placeholder="(31) 99999-9999"></p>
                </div>
                <p><label for="email">E-mail*:</label>
                <input type="text" name="email" placeholder="Ex: teste@mail.com" ></p>

                <!-- secao endereco -->
                <br><h2 class="subtitulo">Endereço</h2>
                <hr width="100%" noshade="">
                <div class="subsecao">
                    <p><label for="cep">CEP*:</label>
                    <input type="text" name="cep" pattern="[0-9]{8}"  inputmode="numeric" placeholder="Ex: 99999999" ></p>
                    <p><label for="end-pais">País*:</label>
                    <input type="text" name="end-pais" placeholder="Ex: Brasil" ></p>
                    <p><label for="end-estado">Estado*:</label>
                    <input type="text" name="end-estado" placeholder="Ex: Minas Gerais" ></p>
                </div>
                <div class="subsecao">
                    <p><label for="end-cidade">Cidade*:</label>
                    <input type="text" name="end-cidade" placeholder="Ex: Belo Horizonte" ></p>
                    <p><label for="bairro">Bairro*:</label>
                    <input type="text" name="bairro" placeholder="Ex: Nova Gameileira" ></p>
                    <p><label for="tipo-logradouro">Tipo de logradouro*:</label>
                    <select id="tipo-logradouro" name="tipo-logradouro" >
                        <option value="" disabled selected>Escolher...</option>                        
                        <option value="avenida">Avenida</option>
                        <option value="rua">Rua</option>
                        <option value="travessa">Travessa</option>
                        <option value="praça">Praça</option>
                        <option value="rodovia">Rodovia</option>
                    </select></p>
                </div>
                <div class="subsecao">
                    <p><label for="end-residencial">Endereço residencial*:</label>
                    <input type="text" id="end-residencial" name="end-residencial" placeholder="Ex: rua 0" ></p>
                    <p><label for="end-numero">Número*:</label>
                    <input type="number" id="end-numero" name="end-numero" placeholder="60" ></p>
               </div>
               <p><label for="end-complemento">Complemento Endereço:</label>
                <input type="text" name="end-complemento" placeholder="Apartamento, hotel, casa, etc"></p>
            
                <!-- secao endereco -->
                <br><h2 class="subtitulo">Carteira de Identidade, CPF e PIS</h2>
                <hr width="100%" noshade="">
                <div class="subsecao">
                    <p><label for="identidade">Número da Carteira de Identidade (RG)*:</label>
                    <input type="text" name="identidade" pattern="[0-9]{8}"  inputmode="numeric" placeholder="Ex: 99999999" ></p>
                    <p><label for="orgao">Órgão Emissor da Carteira de Identidade:</label>
                    <input type="text" name="orgao" placeholder="Ex: (SSP, SJC, SJT)"></p>
                    <p><label for="estado-emissao">Estado do Órgão Emissor (RG)*:</label>
                    <input type="text" name="estado-emissao" placeholder="Ex: Minas Gerais" ></p>
                </div>
                <div class="subsecao">
                    <p><label for="cidade-emissao">Cidade de Emissão da Identidade (RG)*:</label>
                    <input type="text" name="cidade-emissao" placeholder="Ex: Belo Horizonte" ></p>
                    <p><label for="data-emissao">Data de Expedição da Identidade:</label>
                    <input type="date" name="data-emissao"></p>
                    <p><label for="cpf">Número do CPF*:</label>
                    <input type="text" name="cpf" pattern="[0-9]{11}"  inputmode="numeric" placeholder="Ex: 99999999999" ></p>
                </div>
                <p><label for="pis-pasep">Número do PIS/PASEP*:</label>
                <input type="text" name="pis-pasep" pattern="[0-9]{11}"  inputmode="numeric" placeholder="Ex: 99999999999" ></p>
                
                <!-- secao outros -->
                <br><h2 class="subtitulo">Outros</h2>
                <hr width="100%" noshade="">
                <div class="subsecao">
                    <p><label for="funcao">Função*:</label>
                    <input type="text" name="funcao" placeholder="Ex: Montador" ></p>
                    <p><label for="alojado">Alojado*:</label>
                    <select name="alojado" >
                        <option value="" disabled selected>Escolher...</option>                        
                        <option value="sim">Sim</option>
                        <option value="nao">Não</option>
                    </select></p>
                    <p><label for="pcd">PCD*:</label>
                    <select name="pcd" >
                        <option value="" disabled selected>Escolher...</option>                        
                        <div id="info-conhecido">
                            <option value="sim">Sim</option>
                            <option value="nao">Não</option>
                        </div>
                       
                    </select></p>    
                </div>

                <!-- secao anexos -->
                <h2 class="subtitulo">Anexos</h2>
                <hr width="100%" noshade="">
                <label for="upload-id">Arquivo de Identidade (RG)*:</label>
                <input type="file" name="upload-id" accept=".pdf" ><br>
                <label for="upload-cpf">Arquivo de CPF*:</label>
                <input type="file" name="upload-cpf" accept=".pdf" ><br>
                <label for="upload-cv">Arquivo de Currículo*:</label>
                <input type="file" name="upload-cv" accept=".pdf" ><br>
                <label for="upload-cnh">Arquivo de CNH:</label>
                <input type="file" name="upload-cnh" accept=".pdf"><br>
                <label for="upload-certificado">Arquivo de Certificado de Reservista:</label>
                <input type="file" name="upload-certificado" accept=".pdf"><br><br>
                <label>POSSUI ALGUM PARENTE OU AMIGO QUE TRABALHA NA ALFA?</label><br><br>
                <label id="possui-parente" name="possui-parente" value="nao"> NÃO </label><br><br>
                <label id="possui-parente" name="possui-parente" value="sim" onmouseup="InformacoesConhecido();"> SIM </label><br>
                <div id="campos"></div>
            
                <!-- secao dependentes -->
                <br><h2 class="subtitulo">Dependentes <label class="botao-add" onclick="AdicionaDependente();">+</label></h2> 
                <hr width="100%" noshade="">
                <form id="campos-dependente">
                    <div id="novo-dep"></div>
                </form><br>
                <input type="submit" value="Enviar">
            </form>

            </div>
        
    </div>

    <!-- importar arquivos js -->
    <!-- <script type="text/javascript" src="../static/dependente.js"></script>     -->
    <script type="text/javascript" src="../static/inputDinamico.js"></script>    
    
</body>

</html>