<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clínica Médica</title>

    <!-- Fontes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">

    <!-- Normalize (utilizado para responsividade) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
        integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Importar arquivos css -->
    <link rel="stylesheet" href="../static/style/global.css">
    <link rel="stylesheet" href="../static/style/cabecalho.css">
    <link rel="stylesheet" href="../static/style/home.css">

</head>

<body>
    
    <header class="cabecalho">
        <a href="/">
            <img src="../static/imgs/logo.png" class="imagem">
        </a>
        <nav class="itens"> <!-- Barra de navegação responsiva -->
            <a href="./home-restrito.html" class="nav-link">Home</a>

            <a href="./galeria.html" class="nav-link">Fotos</a>

            <a href="./cadastrar-endereco.html" class="nav-link">Endereços</a>

            <a href="./agendar-consulta.html" class="nav-link">Consultas</a>

            <a href="./cadastrar-prontuario.html" class="nav-link">Prontuários</a>

            <a href="./cadastrar-funcionario.html" class="nav-link">Cadastro Funcionário</a>

            <a href="./cadastrar-paciente.html" class="nav-link">Cadastro Paciente</a>

            <a href="./listagem.html" class="nav-link">Listagens</a>

            <a href="./login.html" class="nav-link">Login</a>
        </nav>
    </header>
    
    <div class="principal">
        <section class="conteudo">
            <h2>Bem-vindo à Clínica Santos!</h2>
            <div class="secao">
                <img src="../static/imgs/clinicaMedica.webp" class="foto-clinica">
                <p>A missão da Clínica é fornecer atendimento médico de qualidade e cuidados especializados para todos os pacientes.</p>
            </div>

            <hr width="100%" noshade="">

            <h2>Nossos Serviços</h2>
            <ul>
                <li>Consultas Médicas</li>
                <li>Exames Laboratoriais</li>
                <li>Cirurgias Especializadas</li>
                <li>Acompanhamento Clínico</li>
            </ul>

            <hr width="100%" noshade="">
            
            <h2>Contato</h2>
            <p>Telefone: (31) 1234-5678</p>
            <p>Email: contato@clinicasantos.com</p>
        </section>
    </div>
</body>

</html>
