<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Funcionários</title>

    <!-- fontes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">

    <!-- normalize (utilizado para responsividade) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" 
        integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" 
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- importar aquivos css -->
    <link rel="stylesheet" href="../static/style/global.css" >
    <link rel="stylesheet" href="../static/style/cabecalho.css" >

</head>

<body>
    <header class="cabecalho">
        <a href="/">
            <img src="../static/imgs/logo.png" class="imagem">
        </a>
        <nav class="itens"> <!-- Barra de navegação responsiva -->
            <a href="./home.html" class="nav-link">Home</a>

            <a href="./galeria.html" class="nav-link">Fotos</a>

            <a href="./cadastrar-endereco.html" class="nav-link">Endereços</a>

            <a href="./agendar-consulta.html" class="nav-link">Consultas</a>

            <a href="./cadastrar-prontuario.html" class="nav-link">Prontuários</a>

            <a href="./cadastrar-funcionario.html" class="nav-link">Cadastro Funcionário</a>

            <a href="./cadastrar-paciente.html" class="nav-link">Cadastro Paciente</a>

            <a href="./listagem.html" class="nav-link">Listagens</a>

            <a href="./login.html" class="nav-link">Login</a>
        </nav>
    </header>

    <h2 class="subtitulo">Listar funcionários</h2>
    
    <table>
        <thead>
            <tr>
                <th>Código</th>
                <th>Nome Completo</th>
                <th>Especialidade</th>
                <th>CRM</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>Data de Contrato</th>
                <th>Salário</th>
                <th>CEP</th>
                <th>Logradouro</th>
                <th>Bairro</th>
                <th>Cidade</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            {% for funcionario in funcionarios %}
                <tr>
                    <td>{{ funcionario[3] }}</td>
                    <td>{{ funcionario[4] }}</td>
                    <td>{{ funcionario[11] }}</td>
                    <td>{{ funcionario[12] }}</td>
                    <td>{{ funcionario[5] }}</td>
                    <td>{{ funcionario[6] }}</td>
                    <td>{{ funcionario[0] }}</td>
                    <td>{{ funcionario[1] }}</td>
                    <td>{{ funcionario[13] }}</td>
                    <td>{{ funcionario[7] }}</td>
                    <td>{{ funcionario[8] }}</td>
                    <td>{{ funcionario[9] }}</td>
                    <td>{{ funcionario[10] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</body>

</html>