<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Reports</title>

    <!-- fontes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">

    <!-- normalize (utilizado para responsividade) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" 
        integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" 
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- importar aquivos css -->
    <link rel="stylesheet" href="../static/style/global.css" >
    <link rel="stylesheet" href="../static/style/cabecalho.css" >

</head>

<body>
    <div class="principal">
        <header class="cabecalho">
            <img src="../static/imgs/logo.png"  class="imagem">

            <div class="texto">
                <h1 class="titulo">Cadastro de Reports</h1>
            </div>
        </header>
        <form method="post" action="/reports" id="uploadForm" enctype="multipart/form-data">
            <div class="campos">
                <!-- cadastro informacoes report -->
                <h2 class="subtitulo">Dados do Report</h2>
                <hr width="100%" noshade="">
                <div class="subsecao">
                    <p><label for="nome">Nome*:</label>
                    <input type="text" name="nome" required></p>
                    <p><label for="centro-custo">Centro de custo*:</label>
                    <input type="text" name="centro-custo" required></p>
                </div>
                <div class="subsecao">
                    <p><label for="referencia">Referência da área de atuação*:</label>
                    <input type="text" name="referencia" required></p>
                    <p><label for="descricao">Descrição da ocorrência*:</label>
                    <input type="text" name="descricao" required></p>
                </div>

                <!-- inserir anexos -->
                <h2 class="subtitulo">Anexos</h2>
                <hr width="100%" noshade="">
                <label for="anexo">Anexo 1:</label>
                <input type="file" name="anexo" accept="image/*" ><br>
                <label for="anexo">Anexo 2:</label>
                <input type="file" name="anexo" accept="image/*" ><br>
                <label for="anexo">Anexo 3:</label>
                <input type="file" name="anexo" accept="image/*" ><br>

                <input id="getLocation" type="submit" value="Enviar">
            </form>

            </div>
        
    </div>

    <!-- importar arquivos js -->
    <script type="text/javascript" src="../static/dependente.js"></script>    

    <!-- pega a localizacao de quem reportou -->
    <script> 
        document.getElementById('getLocation').addEventListener('click', function() {
            if ('geolocation' in navigator) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    document.getElementById('latitude').innerText = 'Latitude: ' + position.coords.latitude;
                    document.getElementById('longitude').innerText = 'Longitude: ' + position.coords.longitude;
                });
            } else {
                alert('Geolocalização não é suportada neste navegador.');
            }
        });
    </script>
    
</body>

</html>