<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Solicitacoes</title>

    <!-- fontes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">

    <!-- normalize (utilizado para responsividade) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" 
        integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" 
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- importar aquivos css -->
    <link rel="stylesheet" href="../static/style/global.css" >
    <link rel="stylesheet" href="../static/style/cabecalho.css" >
    <link rel="stylesheet" href="../static/style/menuPortal.css" >

</head>

<body>
    <div class="principal">
        <header class="cabecalho">
            <img src="../static/imgs/logo.png" class="imagem">

            <!-- campo preenchimento dos dados da solicitacao -->
            <div class="texto">
                <h1 class="titulo">Cadastro de Solicitações</h1>
            </div>
        </header>
        <form method="post" action="#" id="uploadForm" enctype="multipart/form-data">
            <div class="campos">
                <h2 class="subtitulo">Dados da solicitação</h2>
                <hr width="100%" noshade="">
                <label for="cpf">CPF do funcionario*:</label><br>
                <input type="text" name="cpf" placeholder="Digite o cpf" ><br><br>
                <label for="tipo-req">Tipo da requisição*:</label><br>
                <select name="tipo-req" placeholder="Escolher..." >
                    <option value="" disabled selected>Escolher...</option>
                    <option value="Concessao de Ferias">Concessão de Férias</option>
                    <option value="Rescisao">Rescisão</option>
                </select></p> 
                <label for="data">Data de agendamento*:</label>
                <input type="date" name="data" placeholder="Digite a data de agendamento" ><br><br>
                
                <input type="submit" value="Enviar">
            </form>
    </div>
</body>

</html>