<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizar Candidatos</title>

    <!-- fontes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">

    <!-- normalize (utilizado para responsividade) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" 
        integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" 
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- importar aquivos css -->
    <link rel="stylesheet" href="../static/style/global.css" >
    <link rel="stylesheet" href="../static/style/cabecalho.css" >
    <link rel="stylesheet" href="../static/style/visualizarRequisicoes.css" >

</head>

<body>
    <div class="principal">
        <header class="cabecalho">
            <img src="../static/imgs/logo.png" class="imagem">

            <div class="texto">
                <h1 class="titulo">Visualizar Requisições</h1>
            </div>
        </header>

        {% for requisicoes in requisicoes %}
        <div class="container-req">
            <p><label>CPF: &nbsp;</label>{{ requisicoes[0] }}<br></p>
            <p><label>Tipo: &nbsp;</label>{{ requisicoes[1] }}<br></p>
            <p><label>Data_Agendamento: &nbsp;</label>{{ requisicoes[2] }}<br></p>
            <p><label>Situação: &nbsp;</label>{{ requisicoes[3] }}<br></p>
            {% if requisicoes[3] == 'AGUARDANDO' %}
            <form action="/visualizarRequisicoes" method="post">
                <input type="hidden" name="cpf" value="{{ requisicoes[0] }}">
                <input type="hidden" name="tipo" value="{{ requisicoes[1] }}">
                {% if requisicoes[1] == 'Rescisao' %}
                    <label for="opcao">Opção da Rescisão*:</label>
                    <select name="opcao" placeholder="Escolher..." >
                        <option value="" disabled selected>Escolher...</option>
                        <option value="Redução de efetivo">Redução de efetivo</option>
                        <option value="Demissao por Desempenho">Demissao por Desempenho</option>
                        <option value="Justa Causa">Justa Causa</option>
                        <option value="Pedido de Demissao">Pedido de Demissão</option>
                        <option value="Acordo Legal">Acordo Legal</option>
                    </select></p> 
                    <label for="avaliacao">Avaliar*:</label>
                    <select name="avaliacao" placeholder="Escolher..." >
                        <option value="" disabled selected>Escolher...</option>
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select></p> 
                {% endif %}
                <label for="aprovar_func">Aprovar/reprovar*:</label>
                <select name="aprovar_func" placeholder="Escolher..." >
                    <option value="" disabled selected>Escolher...</option>
                    <option value="Aprovado">Aprovar</option>
                    <option value="Reprovado">Reprovar</option>
                <input class="botao-validar" type="submit" value="Validar">
            </form>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    </body>

</html>